<nav id="nav" class="text-center bg-primary">
  <%= link_to 'LISTADO PACIENTES', pets_path, class:'nav-item mr-4 btn btn-primary text-light' %>
  <%= link_to 'NUEVO PACIENTE', new_pet_path, class:'nav-item mr-4 btn btn-primary text-light'%>
  <%= link_to 'NUEVO REGISTRO', new_history_path, class:'nav-item mr-4 btn btn-primary text-light'%>
</nav>
